.grid-container {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: 120px 120px 120px 120px 120px 120px;
  justify-content: space-around;
  grid-gap: 10px;
  background-color: #dae1ed;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  /*text-align: center;*/
  color: #5a8ee8;
  font:bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 7px;
  /*font-size: 20px;*/
}
.img1
{
	float: right;
	border-radius: 50px;
	height: 30px;
	width: 30px;
}
img
{
	height: 20px;
	width: 20px;
/*	position: relative;
    top: 18px;*/
}
.item1 {
  /*grid-area: 2 / 1 / span 2 / span 3;*/
}
.item8{
	grid-column-start: 1;
}
.item77{
	grid-column-start: 2;
}